:root {
  --intro-color: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonial-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --line-height-one: 1.8rem;
  --line-height-two: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--intro-color);
  padding: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--intro-color);
}

.showcase-intro {
  color: var(--white);
  text-align: center;
  margin-bottom: 1rem;
  line-height: var(--line-height-one);
  z-index: 1;
}

.showcase-text {
  color: var(--white);
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.showcase-btn {
  padding: 7px 55px;
  border-radius: 20px;
  background: radial-gradient(var(--cyan), var(--blue));
  z-index: 1;
}

.wave {
  background-color: var(--intro-color);
}
.showcase-wave {
  width: 1250px;
}

.showcase-wave-1 {
  display: none;
}

.info-section {
  background-color: var(--intro-color);
}

.info {
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3rem;
}

.access-icon,
.security-icon,
.realtime-icon,
.storefile-icon {
  margin: auto;
  margin-bottom: 1.5rem;
}

.first {
  margin-bottom: 5rem;
}

.first,
.second {
  display: grid;
  text-align: center;
}

.info-heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.info-heading,
.info-text {
  color: var(--white);
}

.productivity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--main-bg);
  padding: 3.5rem;
}

.prod-heading,
.prod-paragraph-1,
.prod-paragraph-2 {
  color: var(--white);
}

.prod-heading {
  margin-bottom: 0.5rem;
}

.prod-paragraph-1 {
  margin-bottom: 0.6rem;
}

.prod-paragraph-2 {
  margin-bottom: 1rem;
}

.reviews {
  background-color: var(--main-bg);
  color: white;
  display: flex;
  padding-bottom: 8rem;
}

.review-container-1,
.review-container-2,
.review-container-3 {
  background-color: var(--testimonial-bg);
  margin: 1.8rem;
  border-radius: 2px;
  padding: 40px 20px 15px;
  z-index: 1;
}

.review-quote {
  margin: auto;
  position: relative;
  bottom: 155px;
  left: 70px;
}

.reviewer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.rtext {
  display: flex;
}

.reviewer-img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.footer {
  color: var(--white);
  background-color: var(--footer-bg);
}

.email {
  background-color: var(--main-bg);
  max-width: 750px;
  margin: auto;
  padding: 40px 50px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 4px 10px 20px 3px var(--footer-bg);
}

.email {
  position: relative;
  bottom: 105px;
}

.email-heading {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.email-heading,
.email-text {
  text-align: center;
}

.email-text {
  font-size: 0.8rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.2rem;
}

.input input {
  padding: 8px 125px;
  border-radius: 2.5rem;
}

.input a {
  padding: 10px 20px;
  border-radius: 20px;
  background: radial-gradient(var(--cyan), var(--blue));
}

.init-footer {
  margin: 0 50px;
}

.footer-items {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  nav {
    font-size: 0.8rem;
    gap: 1rem;
  }

  .showcase img {
    height: 50%;
    width: 50%;
  }

  .showcase-wave {
    display: none;
  }

  .showcase-wave-1 {
    display: block;
    object-fit: cover;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1rem;
  }

  .storefile-icon {
    margin-top: 4rem;
  }

  .productivity {
    flex-direction: column;
    text-align: center;
  }

  .productivity img {
    height: 80%;
    width: 80%;
  }

  .reviews {
    flex-direction: column;
  }

  .email {
    height: 70%;
    width: 70%;
  }

  .input {
    flex-direction: column;
  }

  .input input {
    padding: 8px 55px;
    border-radius: 2.5rem;
  }

  .footer-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .one {
    display: flex;
    gap: 2rem;
  }

  .one p {
    line-height: 1.5rem;
  }

  .one img {
    height: 10%;
    width: 10%;
  }

  .one-container,
  .two-container,
  .three-container,
  .four-container {
    padding: 1rem;
  }

  .two-a {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .two-b {
    display: flex;
    gap: 2rem;
  }

  .three-container,
  .four-container {
    line-height: 2rem;
  }
}

/* Frontend mentor atrribution */
.attribution {
  font-size: 16px;
  text-align: center;
  background-color: hsl(216, 53%, 9%);
  color: white;
}
.attribution a45 {
  color: hsl(458, 45%, 44%);
}
